<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">LEAP Computable Consent IG Home</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Artifact Index <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <a href="artifacts.html">Example Instances</a>
      </li>
    </ul>
  </li>
  <li><a href="downloads.html">Downloads</a></li>
</ul>      
